<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072314378380-ph609crnadpoh0i8o1i6s8782ntt0cee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072314378380-ph609crnadpoh0i8o1i6s8782ntt0cee</string>
	<key>API_KEY</key>
	<string>AIzaSyCH5wkx2DfbHW1A3yN6EQQQNEQoXhuFSzc</string>
	<key>GCM_SENDER_ID</key>
	<string>1072314378380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.circles.TravelBuddy</string>
	<key>PROJECT_ID</key>
	<string>travelbuddy-1bdd8</string>
	<key>STORAGE_BUCKET</key>
	<string>travelbuddy-1bdd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072314378380:ios:276d0144586970ceed33a9</string>
</dict>
</plist>